@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
    height: 95vh;
    width: 95;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(6, 173, 134);
    font-family: 'Bebas Neue', cursive;
    font-size: 22px;
}